.site-footer {
  background: var(--color-secondary);
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
  
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;


  a {
    color: #fff;
    text-decoration: underline;
    margin-left: 1rem;
  }
}
